// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reviews {
  width: 50rem;
  margin: 2rem auto;
}

.review-rating {
  display: flex;
  justify-content: space-evenly;
  transform: rotateY(180deg);

  .star-input {
    display: none;
  }
  
  .star-label {
    display: block;
    cursor: pointer;
    width: 45px;
  }

  .star-label::before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #ddd;
  }

  .star-label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #f3d13b;
    top: 0;
    opacity: 0;
    transition: 0.2s;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }

  .star-label:hover::after,
  .star-label:hover ~ .star-label::after,
  .star-input:checked ~ .star-label::after {
    opacity: 1;
  }
}
